[2014-02-11 16:05] ceejayoz opened #1 "allow dynamic server lists"
Our server IPs change as we scale up/down on AWS.

Ansible has a neat [dynamic inventory](http://docs.ansible.com/intro_dynamic_inventory.html) capability that'd be nice to implement here as well.

[2014-02-11 20:56] spamoom opened #2 "Ability to specify Envoy file"
Like fabric, I'd like something similar to Fabric's -f to specify a file with a non-standard name

`envoy -f foo/bar.blade.php run deploy`

[2014-02-11 20:56] supernrm opened #3 "Ability to set PORT (other than default 22)"
request feature: ability to set PORT (other than default 22) hostname:port

Temporary workaround: use /.ssh/config

[2014-02-11 21:05] spamoom opened #4 "Include other (templated) files"
While I see there is `@include` which calls `require_once`... being able to do something on the lines of (taking this from LESS)

`@extend("mixins")`

which includes mixins.blade.php and compiles into the main file allowing generic tasks to be shared between projects easily.

[2014-02-12 12:20] hernandev opened #11 "Abilit to use app/config/remote.php"
it would be great if Envoy detects if running inside a Laravel project folder and use Servers provided in app/config/remote.php

[2014-02-12 12:46] hernandev opened #12 "Add Envoy to Packagist (Composer)"
I'm interested in develop a package that depends on Envoy, please distribute it so i can use as composer dependency.

[2014-02-12 19:46] joselara opened #13 "Blade comments"
Blade comments {{-- Macro Task Below --}} creates the Envoy.php file but doesn't fire/execute/remove.

workaround:
 // Macro Task Below //

The workaround for now is fine but figured since we are using blade why not allow the comment syntax.

Thanks,
Jose

[2014-02-12 22:39] sergeifilippov opened #14 "Self-Update"
Ability to Self-Update would be nice =]

[2014-02-12 22:47] #14 closed, assigned to nobody

[2014-02-13 00:30] #13 closed, assigned to nobody

[2014-02-13 02:48] tcql opened #15 "Call to undefined Laravel\Envoy\phpuname"
envoy/src/lib/ConfigurationParser.php on line 64

calls `phpuname`, not `php_uname`

[2014-02-13 13:42] ghost opened #19 "sudo support"
Is there any better way to make Envoy work with sudo other than turning off password request in visudo?

[2014-02-13 14:55] #15 closed, assigned to nobody

[2014-02-13 18:55] lucasmichot opened #23 "[PROPOSAL] Add .phar to release"
Hello,

It would be great to provide the phar file in the release page as for:
https://github.com/sebastianbergmann/phpunit/releases

[2014-02-14 15:32] allmarkedup opened #24 "[Proposal] Change name of envoy file - remove .blade.php extension"
First let me just say that I'm loving Envoy so far. Great little tool.

So consider this a minor nitpick, but the filename 'Envoy.blade.php' seems overly verbose to me, and also really exposes details about the file that is of no interest - I don't need to know that it is a Blade (-like) syntax file, or even that it's PHP to be honest.

Just something like calling it '.envoy' or plain 'Envoy' or s

[2014-02-14 19:24] codeclown opened #25 "Ability to ask for more details"
I was trying to make a task which would pull my app source from a GitHub repository. However, I don't want to write down my SSH pass phrase in the Envoy-file, for obvious reasons.

There should be a way for my task to ask for the pass phrase and then send it to SSH.

[2014-02-15 04:48] #25 closed, assigned to nobody

[2014-02-15 11:48] codeclown opened #28 "Ability to add a task to always run, before or after task"
An example:

[code]

This way I wouldn't need to run `cd` in the beginning of each task.

I could obviously create macros, but I'd rather have this than build macros for all the simple tasks.

[2014-03-01 02:17] #24 closed, assigned to nobody

[2014-03-01 02:18] #12 closed, assigned to nobody

[2014-03-01 02:21] #23 closed, assigned to nobody

[2014-03-01 02:23] #19 closed, assigned to nobody

[2014-03-01 02:23] #28 closed, assigned to nobody

[2014-03-01 02:24] #11 closed, assigned to nobody

[2014-03-01 02:28] #3 closed, assigned to nobody

[2014-03-01 02:28] #4 closed, assigned to nobody

[2014-03-01 02:29] #1 closed, assigned to nobody

[2014-03-01 02:29] #2 closed, assigned to nobody

[2014-03-01 15:20] dbpolito opened #31 "Macro Empty Lines"
We can't have empty lines on macro sections, it throws:

[code]

[2014-03-06 19:47] dongilbert opened #33 "self-update fails on PHP 5.6 Alpha2"
With the new TLS/SSL settings in PHP 5.6a2, envoy is unable to perform an update due to CN problems.

[code]

I got those errors while running the `file_get_contents` code in `boris` after seeing that envoy was unable to self-update.

Switching to 5.5 allows it to self-update just fine. I'm just posting this here to make you aware, I'm not sure there's anything you should / could do to address it.

[2014-03-18 00:58] ghost opened #36 "How to upload files to remote server?"
is it possible to upload files to remote server with envoy?

looking around for a while, but I can't find a solution to this.

[2014-03-19 21:11] marcusamargi opened #37 "does Envoy support class based tasks?"
Does Envoy support class based tasks?

With fabric I use classes and have utilized inheritance a fair bit. Can this be done?

http://docs.fabfile.org/en/1.8/usage/tasks.html#task-subclasses

thanks!

[2014-03-25 09:41] csoutham opened #38 "envoy self-update returns JSON exception"
Recently when running envoy self-update it returns a JSON exception related to the GitHub manifest:

Looking for updates...
[Herrera\Json\Exception\FileException]
file_get_contents(https://github.com/laravel/envoy/raw/master/envoy-manifest.json): failed to open stream: operation failed.

Envoy still works which means there's no real problem.
I've tried reinstalling the .phar but no fix.

Running L

[2014-03-26 15:04] #36 closed, assigned to nobody

[2014-03-26 15:05] #37 closed, assigned to nobody

[2014-04-04 03:50] calimaborges opened #40 "Can't use server domain started with php"
For example:
If Envoy.blade.php contains:
**@servers(['web' => 'deploy@php.example.com'])**

The following error appears:
**[deploy<?php.example.com]: sh: ?php.example.com: No such file or directory**

Current workaround:
**@servers(['web' => 'deploy@' . 'php.example.com'])**

[2014-04-10 01:24] carlsonorozco opened #41 "Escape character needed"
I came out with

@servers(['web' => '192.168.1.1'])

@task('test', ['on' => 'web'])
    nohup sleep 10 > /dev/null 2>&1 &
    echo $!
@endtask

when I tested it, I didn't get the pid, my workaround ends with escaping character from echo $! to echo \$!

@servers(['web' => '192.168.1.1'])

@task('test', ['on' => 'web'])
    nohup sleep 10 > /dev/null 2>&1 &
    echo \$!
@endtask

[2014-04-22 16:19] #38 closed, assigned to nobody

[2014-05-02 21:47] #33 closed, assigned to nobody

[2014-05-21 02:02] ryanhungate opened #44 "remote machine pulling gitlab private repo"
So normally when I do something on the remote machine, it asks me for credentials every time I try to pull... is there any way to allow this kind of behavior using envoy?

I know it must be something small, but its telling me permission denied, remote host shut down etc.

[2014-06-12 12:50] andrewhl opened #46 "[Request] call @after only for specific tasks"
It would be nice if you could do:

[code]

So that the @after is executed only when those specific tasks are run.

[2018-10-31 16:17] #31 closed

[2018-10-31 16:17] #40 closed

[2018-10-31 16:17] #41 closed

[2018-10-31 16:17] #44 closed

[2018-10-31 16:17] #46 closed

[2018-11-09 19:33] mcmc4519 opened #123 "Can I catch error in console?"
Hi!
Thank for your work, it's awesome!

Can you help me?

When I run envoy task, while running I have errors in console.
Can I catch console errors, and stop running envoy task?

[2018-11-10 11:02] driesvints commented on #123
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs or problems. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com

[2018-11-10 11:02] #123 closed

[2018-12-07 13:33] amsoell opened #128 "Allow task servers to override story servers"
Happy to take a stab at a PR here but I wanted to confirm I wasn't missing something. Consider the case where you want to update multiple staging servers, and as part of it download a production db snapshot and restore it to staging:

[code]

Most of these task, of course, we want to run on all servers. However, we have a "restoredb" task that grabs the latest production database backup and restor

[2018-12-07 13:45] driesvints commented on #128
I think you've misread the docs a bit. Can you try the example from below?

[code]

[2018-12-07 13:50] amsoell commented on #128
@driesvints Here's an easier example, which I think fits your format:

[code]

When I run this and check the `amsoell.com` server I see both files, which should not be the case.

[2018-12-07 14:25] driesvints commented on #128
Okay, I went through the internals a bit and managed to figure out what's wrong. Because of the line below, the macro/story options always overwrite the task options. I'm not sure what the correct expectation would be. Either the current behavior or the other way around.

https://github.com/laravel/envoy/blob/0250f33e0560117ffdd9c8557e6afc32d1f83ddc/src/TaskContainer.php#L331

I any case if we wer

[2018-12-07 14:34] amsoell commented on #128
Thanks for checking into that for me. I can’t imagine a scenario where someone would want the story servers to override task, but I suppose that doesn’t mean they don’t exist.

Short of changing this, if I put the work on not adding a `single_server` argument similar to the `parallel` argument, would that be viewed as a good, merge-worthy feature?

[2018-12-07 14:36] driesvints commented on #128
@amsoell I don't think so. It'll be a band-aid for the real problem. I don't think it'd get merged.

[2019-02-05 15:18] colorgreen opened #129 "Can we expect Windows support?"
Can we expect Windows support? If yes, when?

[2019-02-05 15:19] driesvints commented on #129
Afaik Envoy should work on Windows. Are you experiencing any errors? Please provide more information and the version you're using.

[2019-02-27 19:45] freekmurze opened #134 "Using Envoy in a Laravel 5.8 app does not work"
When staring an Envoy task from a Laravel 5.8 app, an exception is thrown.

[code]

It seems caused by the fact that the compiled Envoy php file contains

[code]

It should be:

[code]

[2019-02-28 03:24] jcandan opened #135 "Semicolon in string fails to correctly parse"
### Problem/Motivation

I want to color the output from Envoy commands using Bash color codes. These codes contain semicolons.

The following failed to correctly parse the variable string containing a semicolon.

[code]

The following error occurs:

[code]

To prove this is the issue, you can escape the semicolon in the variable string value to get it working:

[code]

### Proposed resolution

Giv

[2019-02-28 08:28] driesvints commented on #134
`Dotenv` doesn't seems to be present in Envoy. Are you sure it's not thrown from somewhere else? Can you post a stacktrace?

[2019-02-28 08:47] driesvints commented on #135
I can't even get the above example to work. Is this everything in your `Envoy.blade.php` file?

[2019-02-28 09:04] #134 closed

[2019-02-28 09:05] freekmurze commented on #134
Seems like this my own fault. The `Dotdev` line was defined in my own script.

Thanks for the help @driesvints

[2019-03-28 18:28] driesvints commented on #135
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2019-03-28 19:33] jcandan commented on #135
I have updated the issue summary.

[2019-04-18 14:18] vpratfr opened #137 "Splitting to multiple files"
Not sure if possible at all currently, but the `Envoy.blade.php` file tends to get larger and larger when tasks are added and made more flexible.

I have already externalized most of the configuration and I was wondering if there was a possibility to split the tasks from that file and put them in another file.

If not currently possible, do you think it would technically be easy to add this? I may

[2019-04-18 18:49] driesvints commented on #137
Please see https://laravel.com/docs/5.8/envoy#setup

It's a PHP file so you can require whatever file you want.

[2019-04-18 20:58] vpratfr commented on #137
@driesvints I did not manage to put my task definitions into other file.

Is the following supposed to work :

[code]

[code]

[2019-04-19 10:50] driesvints commented on #137
Hmm, it seems this is indeed not possible which I believed otherwise. The include annotation works a bit different from Blade where it also parses the blade include. I believe if we could extend the include partial to also parse other files it might work. It's also a bit confusing that it's called Envoy.blade.php but Blade isn't actual used behind the hood.

[2019-04-19 10:55] vpratfr commented on #137
Ok. Thanks for confirming this.

Le ven. 19 avr. 2019 à 12:50, Dries Vints <notifications@github.com> a
écrit :

[2019-04-24 13:46] yurii-github opened #139 "add support for sshpass"
We need to have an option for sshpass support

[2019-04-25 10:46] driesvints commented on #139
Can you thoroughly explain why this is needed and how it would work?

[2019-04-25 17:56] yurii-github commented on #139
the program is `apt-get install sshpass`. it works like regular ssh but with password instead of key
`sshpass -pPASSWORD ssh USER@HOST -pPORT`

According to code currently it works as
[code]

So, it would be nice to have an option make arbitrary command
[code]

[2019-04-25 21:50] driesvints commented on #139
It seems unwanted to me to add sensitive things like a password to a deploy script.

[2019-04-26 11:26] driesvints commented on #139
I'm going to have to close this for now. If there are more questions coming in to support this we might reconsider. Thanks for submitting.

[2019-04-26 11:26] #139 closed

[2019-04-26 16:07] yurii-github commented on #139
password will be stored in environment variable. I'm using gitlab

ok

[2019-05-27 18:49] m-triassi opened #140 "Returns to home directory on every task execution"
- Envoy Version: 1.5.0
- Laravel Version: 5.8.18
- PHP Version: 7.2.8
- Database Driver & Version: Mysql 5.7.23

### Description:
When executing a story directive on some remote server (CentOS 7) , each task in the story first returns to the home directory before executing the contents of the task, eg:

[code]

### Steps To Reproduce:
Happens on a CentOS 7 server when executing the above story, eg

[2019-05-27 19:31] driesvints commented on #140
This is the default behavior. All of your tasks will start from the default login location for your user. Your story block is just to define a group of tasks. This is because different tasks could be run in different locations. You'll have to cd to the correct location on each task.

[2019-05-27 19:31] #140 closed

[2019-06-01 21:51] connecteev opened #142 "Support passing variables into Envoy tasks"
I don't think envoy supports a way to pass variables into tasks. In this (simplified) example, is it possible to NOT replicate 'common' for s1 and s2?

[code]

The above example doesnt work and results in:
[code]

[2019-06-01 22:33] connecteev opened #143 "Suggestion: Allow a subtask to be called from a parent task."
Suggestion: Allow a subtask to be called from a parent task.

[code]

This doesnt work and results in:
[code]

[2019-06-02 20:54] driesvints commented on #142
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-06-02 20:54] #142 closed

[2019-06-02 20:55] driesvints commented on #143
It's not possible because you can't differentiate between envoy commands and cli commands inside tasks. You'll need to use a different story.

[2019-06-02 20:55] #143 closed

[2019-06-03 21:23] connecteev commented on #142
@driesvints sounds good, I'll ask on Discord. Assuming there's a way to do this, based on what you're implying.

[2019-06-03 21:25] connecteev commented on #143
@driesvints without this as a feature, and https://github.com/laravel/envoy/issues/142 either, it results in duplicative code. Just a suggestion for a future release ;)e

[2019-06-07 20:37] LukaSikic commented on #137
Use `@import` instead of `@include` and it will work as you expected

[2019-06-07 21:24] AdrienPoupa opened #144 "Cannot use @if within @finished"
- Envoy Version: 1.5.0
- Laravel Version: 5.8.17
- PHP Version: 7.2.14
- Database Driver & Version: mysql 5.7.25

### Description:

The `@if` Blade directive cannot be used within `@finished`.

### Steps To Reproduce:

Write the following code

[code]

results in

`PHP Parse error:  syntax error, unexpected '<' in /var/www/einsteinfiv2/Envoyac3a4661d761f643c317961bc4f87ff8.php on line 269`

Compil

[2019-06-08 13:43] roshandelpoor opened #145 "centos 7: envoy command not found"
hi

(envoy command not found)
Does this package support Linux Centos7?

Thanks!

[2019-06-08 13:54] AdrienPoupa commented on #145
Add your composer bin directory to your PATH environment variable after installing Envoy globally with Composer

https://akrabat.com/global-installation-of-php-tools-with-composer/ttps://serverfault.com/questions/102932/adding-a-directory-to-path-in-centos

[2019-06-13 12:44] driesvints commented on #137
@LukaSikic that indeed works. I'll try to add it to the docs soon but feel free to send in a PR before me.

[2019-06-13 12:44] #137 closed

[2019-06-13 12:44] driesvints commented on #144
Please fill out the issue template when posting issues.

[2019-06-13 12:45] driesvints commented on #145
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-06-13 12:45] #145 closed

[2019-06-13 13:23] AdrienPoupa commented on #144
Done @driesvints let me know if I can be of any help

[2019-06-13 13:48] driesvints commented on #144
@AdrienPoupa you should be able to write plain PHP there. Because it's a closure, short template tags won't work.

[code]

[2019-06-14 21:50] AdrienPoupa commented on #144
Good call, that works, thanks!

However, is it really necessary to make it a closure rather than a normal function?

[2019-06-20 20:51] #144 closed

[2019-06-24 08:30] driesvints commented on #144
@AdrienPoupa I'm not super familiar with the internals of Envoy so I believe there probably is a reason for it yeah.

[2019-07-15 03:36] 354651432 opened #147 "wish to support User-defined instruction"
demo
[code]

[2019-07-15 08:50] driesvints commented on #147
Sorry but no plans on supporting this atm.

[2019-07-15 08:50] #147 closed

[2019-07-22 09:19] Shizzen83 opened #148 "Class config does not exist"
- Envoy Version: 1.5.0
- Laravel Version: 5.8.0
- PHP Version: 7.1.3

### Description:
I'm currently trying to setup a deployment onto remote servers.It works fine but I would like going further by using `Illuminate\Foundation\Application` class to be able to inject some dependencies into `@setup` Envoy directive (e.g. retrieve some config or Eloquent models). But I keep getting this error, whatev

[2019-07-30 08:16] driesvints commented on #148
I'm afraid this goes a little bit too far as to what Envoy is intended for (running CLI scripts). Sorry.

[2019-07-30 08:16] #148 closed

[2019-08-12 07:01] connecteev opened #149 "Feature Request: Manageable Envoy code: Add ability for a story to call another story, or to pass variables into tasks"
From all the testing I've done with Envoy over the past few months, there doesn't seem to be an efficient way to make the code DRY (as in, avoid duplication). This is more concerning than it appears because envoy scripts can get very long and complicated, even for basic deployment tasks.

Here are some **real** use-cases I am struggling with at the moment:
Luckily, envoy [accepts passing variables

[2019-08-12 09:42] driesvints commented on #149
I don't think this is possible but feel free to prove me wrong and provide a solution through a PR.

[2019-08-12 10:13] mtnorthrop opened #150 "Envoy no longer uses user's environment by default"
- Envoy Version: 1.5.0
- Laravel Version: none; (I use Envoy for non-Laravel projects)

### Description:
Envoy 1.5.0 no longer loads the user's environment by default. Before 1.5.0, all of a user's environment variables were available by default when running Envoy tasks.

For example, in 1.4.1, this task:

[code]
would produce this output:
[code]

However, after upgrading to 1.5.0, this no longer

[2019-08-12 12:23] driesvints commented on #150
This doesn't work on 1.4.1 either for me. Afaik you always need to define your server.

[2019-08-12 12:23] #150 closed

[2019-08-12 12:37] mtnorthrop commented on #150
My example was abridged, but there is a server (localhost) defined at the top. I'm sorry for not being more clear.

This is a complete example:
[code]

In this case, I would expect the output to be `[127.0.0.1]: /home/myusername`, the same as if I had created a bash file with the single command `echo $HOME`.

Instead, there is no output in 1.5.0 because the `$HOME` variable isn't set, but it _does

[2019-08-12 12:38] driesvints commented on #150
@mtnorthrop your example still isn't valid. `@task('test', 'on' => ['localhost'])` isn't valid syntax. Did you try with `@task('test', ['on' => 'localhost'])`?

[2019-08-12 12:50] mtnorthrop commented on #150
@driesvints I'm sorry, the `@task('test', 'on' => ['localhost'])` part in the original issue and the comment are both typos; this line is correctly written as `@task('test', ['on' => 'localhost'])` in my `Envoy.blade.php` file. I'll edit my issue and comment to fix this.

[2019-08-12 14:06] driesvints commented on #150
Your example works for me on 1.5.0

[2019-08-12 14:38] mtnorthrop commented on #150
Thanks for confirming.

I've just tested again, and the same script works for me on 1.4.1, but still doesn't work on 1.5.0.

As a solution, I'll just keep envoy pinned to 1.4.1 in my global composer.json file.

It's possible that the issue is related to my local configuration or OS, which is Ubuntu 19.04. I hope, at least, that this thread might be useful if someone else runs into the same edgecas

[2019-08-12 16:04] connecteev commented on #149
@driesvints based on my very limited knowledge of the envoy source code, it may not be easy to call a story within another one (or even a task within another one).
But isn't passing variables into Envoy @ tasks a possibility and also something that makes sense?

[2019-08-12 17:12] connecteev commented on #149
Looked into it again, seems a bit more complex than my current skill level..

[2019-08-12 17:14] driesvints commented on #149
I'm sorry but I really don't think it is. You're working with CLI commands here, not PHP code. The blade control structures only allow you to organise the scripts. Maybe we can find a way to re-use parts.

I don't have the time to look into this at the moment so feel free to send in a PR if you have time.

[2019-08-12 17:28] connecteev commented on #149
@driesvints I guess I'll have to stick with code duplication for now..not ideal but also not the end of the world.

[2019-08-30 07:08] daveatpeta opened #151 "Any timeframe for support for Laravel 6.0? Thank you"
This repository is only for reporting bugs or issues. If you need support, please use the forums:

- https://laracasts.com/discuss
- https://laravel.io/forum

Alternatively, you may use Slack (https://larachat.co/), Discord (https://discordapp.com/invite/mPZNm7A), or Stack Overflow (http://stackoverflow.com/questions/tagged/laravel).

Thanks!

[2019-09-02 08:56] driesvints commented on #151
I'll try to update it today or tomorrow

[2019-09-02 08:56] #151 closed

[2019-09-04 11:45] freekmurze opened #154 "Tag a Laravel 6 compatible release"
It seems like this one was forgotten to be tagged for Laravel 6.

[2019-09-04 11:56] driesvints commented on #154
See https://github.com/laravel/envoy/issues/151

I'll work on one tomorrow!

[2019-09-05 12:07] driesvints commented on #154
Tagged v1.6.0 which adds 6.0 support. Will work on a brand new 2.0 version today.

[2019-09-05 12:07] #154 closed

[2019-09-05 14:06] driesvints commented on #135
@jcandan you need to put the content between semicolons before the echo:

[code]

Then it'll work.

[2019-09-05 14:06] #135 closed

[2019-09-05 14:17] jcandan commented on #135
Oh! I think you mean, "put the content between double-quotes after the echo."

[2019-09-05 15:10] driesvints commented on #135
Right :)

[2019-09-06 17:30] driesvints commented on #128
I've sent in a PR for this here: https://github.com/laravel/envoy/pull/157

[2019-09-06 19:35] #128 closed

[2019-09-06 22:30] caiokawasaki opened #158 "Envoy is not working with Supervisor"
- Envoy Version: 1.5
- Laravel Version: 5.8.*
- PHP Version: 7.2.19-0ubuntu0.18.04.2

Envoy cant access any server  trought Supervisor... I have a job that create a server in DO then use envoy to connect to it and install docker. But Envoy can't connect to the server in production... What shoul I do?

This is my Supervisor configuration:

[code]

[2019-09-08 19:53] caiokawasaki commented on #158
After hours I was able to solve my problem by installing the latest version of Supervisor.

Instead of using the command, `apt-get install supervisor`, I installed with pip: `pip install supervisor`

[2019-09-09 11:22] #158 closed

[2019-09-09 11:22] driesvints commented on #158
Glad you solved it

[2019-09-13 07:53] peterpan666 opened #161 "PHP 7.1 not supported anymore"
- Envoy Version: Since 1.6.0
- Laravel Version: 5.1
- PHP Version: 7.0
- Database Driver & Version: N/A

### Description:
Since Envoy 1.6.0, PHP 7.0 is not supported anymore due to syntax at least in this file https://github.com/laravel/envoy/blob/v1.6.0/src/SSHConfigFile.php#L106 and it broke my build. I don't know which solution is the best, either put the supported PHP version in the composer f

[2019-09-13 09:44] driesvints commented on #161
Are you sure? This syntax was introduced in PHP 7.1: https://secure.php.net/manual/en/migration71.new-features.php

[2019-09-13 20:34] peterpan666 commented on #161
Whoops my bad, I was in a PHP 7.0 env. I’ll update the issue

[2019-09-13 20:44] driesvints commented on #161
PHP 7.0 is EOL and not supported anymore sorry.

[2019-09-13 20:44] #161 closed

[2019-09-14 02:41] peterpan666 commented on #161
Yeah that was my guessing but wouldn’t it make sense to add the supported PHP version in the composer.json file?

[2019-09-14 05:50] driesvints commented on #161
Yeah that's true. I've been working on v2 on master and hoping to release that somewhere this month.

[2019-09-16 11:47] stephenstack opened #162 "Conditionally load variables based on command/ story name"
Hi,

I would simply like a way to run variations of the @setup section based on the task type. For example if I run;
envoy run install - I can check for 'install' in the @setup section and load a set of variables, error checking and so on. This 'install' would require specific parameters.
If I run;
envoy run upgrade - I can check for the 'upgrade' command and load a separate set of setup vars, or

[2019-09-17 10:06] sergeynilov opened #163 "I provide password in envoy script but it prompts to enter password manually"
Hello!
With laravel 5.8 envoy command I deploy on remote server and I set password in command line, like:

[code]
and envoy file:

[code]
With credentials in @servers block I expected I will not have to enter password manually, but in command line I see prompt to enter password. I output $server_login_user and $lardeployer_password vars and they have valid values.

Which is valid path ?

[2019-09-18 10:39] LorenzoSapora commented on #163
Not to provide any insight into a fix for this, but you shouldn't keep your passwords in the script.

On your local machine:

[code]

It should ask you to login with a password, but after that, you should create an entry in your ssh config file (`nano ~/.ssh/config`):

[code]

Then within your envoy script, you'll just need to call this:

[code]

If you receive an error when trying to copy the ssh

[2019-09-18 10:44] LorenzoSapora commented on #162
Not the cleanest of options but you can pass variables to envoy like this

[code]

And retrieve it in envoy

[code]

You could create some if statements around that. Hope that helps.

[2019-09-19 04:50] sergeynilov commented on #163
Hello,
Thank you for your feedback!
I followed your steps :
1) I aready have ssh files generated on my local Kubuntu 19
and with command
`ssh root@NNN.NN.NN.NNN
`
I successfully enter to my remote server

2)  I my local /home/serge/.ssh/config I added item

[code]

3) and modified my Envoy.blade.php
`@servers(['dev' => 'laravelserver'])
`
4) but running envoy command I got error :
[code]
5) on rem

[2019-09-19 08:57] LorenzoSapora commented on #163
It's possibly the servers directive itself. Try this:

[code]

The main difference being the server name wrapped in an array. I had some parsing issues with attempting to run this locally, so all my servers are double wrapped.

Example
[code]

[2019-09-19 10:05] sergeynilov commented on #163
I modified my envoy file as :
`@servers( [ 'dev' => [ "laravelserver" ] ] )
`
but the same error :
[code]
?

[2019-09-19 10:08] LorenzoSapora commented on #163
FYI, you'll not need to use `--lardeployer_password=mypass1112233` anymore. Plus, using that will store your password in `~/.bash_history` in plaintext.

Try `grep sshd /etc/hosts.allow` on your remote server, you might be blocking key based logins.

[2019-09-19 10:11] LorenzoSapora commented on #163
Have you attempted to login with keys? i.e. `ssh laravelserver` on your local machine?

[2019-09-19 10:42] sergeynilov commented on #163
`grep sshd /etc/hosts.allow`
on remote server with OS rebooting did not help.

On my local laptop :
[code]

[2019-09-19 11:27] LorenzoSapora commented on #163
Ah, then it's nothing to do with the script itself, but the server accepting ssh keys.

Check out this https://unix.stackexchange.com/questions/128894/ssh-exchange-identification-connection-closed-by-remote-host-not-using-hosts-d

or if that doesn't help http://edoceo.com/notabene/ssh-exchange-identification

[2019-09-19 12:10] sergeynilov commented on #163
I tried to run on remote server (I suppose with my ip and 22 port):

[code]
and after that :
[code]
root@nsn-do-lamp:~# sudo ufw status numbered
Status: active

     To                         Action      From
     --                         ------      ----
[ 1] Apache Full                ALLOW IN    Anywhere
[ 2] 443                        ALLOW IN    Anywhere
[ 3] 80                         ALL

[2019-09-20 05:55] stephenstack commented on #162
Thanks I had considered this. But my app will be redistributable, so I'd like the process to have as few params as possible. I will be adding other params.

My suggestion above would be very clean and convenient.

[2019-09-20 08:46] LorenzoSapora commented on #163
A little concerned that you have a broken pipe at the end of that output `ssh_dispatch_run_fatal: Connection to NNN.NN.NN.NNN.4 port 22: Broken pipe`. Was that due to you?

Try this.

- SSH into server `ssh root@n.n.n.4` (using your password)
- Run `sudo lsof -n | grep ssh | grep DEL` on the remote server
	- Did you receive any output? You should see something like this `2268 /usr/lib/x86_64-linux

[2019-09-20 10:09] sergeynilov commented on #163
My server is Ubuntu 18 under Digital Ocean

[code]
[code]
[code]

[2019-09-20 12:31] LorenzoSapora commented on #163
- Log into server in two tabs
- First tab, run `tail -f /var/log/messages`
- Second tab, run `sudo /etc/init.d/ssh restart` (I can't remember if it's a service or not, so if that fails, try `sudo service ssh restart`)
- Look at first tab, what's the output? anything stand out as a failure?
- Now attempt to log in using the ssh key (`ssh laraveldeploy`)
- Does the first tab (the `tail`) show anythi

[2019-09-20 12:39] sergeynilov commented on #163
I got :
[code]
Have I to create subdir var/log/messages manually or install some package ?

[2019-09-20 12:49] LorenzoSapora commented on #163
My mistake, Ubuntu no longer uses /var/log/messages, but /var/log/syslog, try with that instead

[2019-09-20 12:52] LorenzoSapora commented on #163
If you'd prefer to keep that output private, my email is my name [at] gmail

[2019-09-20 13:56] sergeynilov commented on #163
That is what I see at first tab :
[code]

and nothing was changed at the first tab when at my local server I run :
[code]

[2019-09-20 16:05] LorenzoSapora commented on #163
Ok, final request: `cat /etc/ssh/sshd_config` what's the output?

If I can't spot anything wrong in that file, then I'm completely out of ideas.

[2019-09-21 03:38] sergeynilov commented on #163
Thank you for your help!

[code]

[2019-09-23 10:28] LorenzoSapora commented on #163
So I cross referenced your config with my own, and the only differences we had were being able to login as root. I have that disabled. That, however, wouldn't make any difference, because you're trying to use the `deploy` user. I'm stumped. Sorry, without actually seeing the server myself, I've reached the limit of my usefulness. Hopefully someone else will know a solution.

[2019-09-23 11:07] #163 closed

[2019-09-23 11:10] driesvints commented on #162
Isn't this a duplicate of https://github.com/laravel/envoy/issues/149 ?

[2019-09-23 12:11] sergeynilov commented on #163
Thank you for your help!
Please do not delete this branch, maybe I will show it to somebody else...

[2019-09-27 18:47] driesvints commented on #162
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue and we'll re-open this issue.

[2019-09-27 18:47] #162 closed

[2019-09-27 19:52] driesvints commented on #149
@connecteev I've tried to deep-dive into this but atm I really don't see a use case for this. If you could give me more info and **especially some very concrete examples** on what it is that you're trying to do then I'd be happy to look into this further.

Feel free to reply.

[2019-09-27 19:52] #149 closed

[2019-09-27 20:07] connecteev commented on #149
@driesvints the use-case is basically keeping the code DRY so that I am not replicating a ton of the same code across stories and tasks in my Envoy script. Right now, I have no choice but to do that.

[2019-09-27 20:08] connecteev commented on #149
That's what I mean by 'making it more manageable' or modular. More details in the description and https://github.com/laravel/envoy/issues/142. Let me know if anything is unclear about the use-case.

[2019-09-27 20:24] driesvints commented on #149
[code]

I don't understand here why you can't do this with the current functionality:

[code]

[code]

Like I said: I'll need a very concrete example in order to know what it is that you're trying to achieve.

[2019-10-24 10:25] GertjanRoke opened #166 "$task variable doesn't exist in @finished section"
- Envoy Version: 1.6.1
- Laravel Version: 6.2.0
- PHP Version: 7.2.17

### Description:
When I run a story or task the slack hooks fires a call and that all works but I only get the default message with my name and that a task has been run, but not with the name of the story or task.

I don't know if it even works for stories, but for the task it should but doesn't in my case.

### Steps To Reprod

[2019-10-24 18:36] colorgreen opened #167 "How to use @after task"
I want to execute code after specyfic task execution (like e.g after task 'push' sent message to discord. I see @after is implemented but I cant figure out how to use it. I trying something like
[code]

[2019-10-25 06:53] GertjanRoke commented on #167
You should place it outside the @task section and you can do a check on the $task variable

like so:
[code]

For the next time maybe ask this question on forums like https://laracasts.com/discuss or https://laravel.io/

[2019-10-25 09:17] colorgreen commented on #167
In `@after` section `$task` is available, but in `@setup` no. It would be nice to have it also here

[2019-10-25 14:19] #167 closed

[2019-10-27 10:34] colorgreen commented on #166
`$task` variable is not defined in `@finished` scope, thats why you don't see task name.
Slack.php:74
[code]
You can use `@after` section. Look this https://github.com/laravel/envoy/issues/167

[2019-10-28 08:11] GertjanRoke commented on #166
@colorgreen But isn't it handy to also know which `@story` or `@task`  you ran inside the `@finished`?
Because now I need to make all kinds of if statements to check which one was run to show the correct notification.

If the `$task` variable will also be available inside the `@finsihed` you don't need to think about it.

[2019-10-28 09:52] driesvints commented on #166
Hey @GertjanRoke. If you want task specific context for your slack messages you need to define the `@slack` annotation within the task itself at the end. There is no "task" context in the `@finished` part because that's only meant to run separately at the end outside any story or task context.

The reason for this mostly is that if you have a lot of running tasks, your slack channel would be spamm

[2019-10-28 09:52] #166 closed

[2019-10-28 10:06] driesvints commented on #166
I've sent in a PR to the docs clarify this: https://github.com/laravel/docs/pull/5568

[2019-11-09 18:21] iamsajidjaved opened #170 "Envoy doesn't work with windows OS"
Look at the bug in the laravel documentation. It says,

This means, Laravel Envoy doesn't work with the Windows operating system and **but my team is using it with windows. I tried also. It works on windows**

https://laravel.com/docs/master/envoy
![image](https://user-images.githubusercontent.com/32770676/68533224-5f9e6980-0347-11ea-85e5-b1fb458dd6a1.png)

[2019-11-11 08:25] driesvints commented on #170
It means we only support the Mac and Linux OS. If it works for you on Windows then all for the better 👍

[2019-11-11 08:25] #170 closed

[2019-11-13 09:34] boyanraichev commented on #150
@mtnorthrop if you have multiple servers defined on several lines it would fail. No new lines should be present in the servers definition - otherwise I was getting the same error

[2019-11-27 01:44] C0kkie opened #173 "After update "Uncaught TypeError: Argument 1 passed to""
- Envoy Version: 1.6.1

### Description:
After the update today i am getting the following issue

$ ~/.composer/vendor/bin/envoy run deploy --commit="$CI_COMMIT_SHA"

Fatal error: Uncaught TypeError: Argument 1 passed to Symfony\Component\Process\Process::__construct() must be of the type array, string given, called in /home/php/.composer/vendor/laravel/envoy/src/RemoteProcessor.php on line 62 and

[2019-11-27 07:13] Quynh-Nguyen commented on #173
https://github.com/laravel/envoy/pull/174

I resolved it but maybe we need to waiting for Contributors comment my pull request.

[2019-11-27 15:26] ServiceTo commented on #173
How does this get pushed into a new release? Right now all my Laravel Envoy CI/CD is broken because of this error.

Thanks for the quick fix @Quynh-Nguyen!

[2019-11-27 15:34] Quynh-Nguyen commented on #173
@ServiceTo
You should waiting for new version release or you can `composer require laravel/envoy:1.6.1`, 1.6.1 is previous version for temporary solution.

[2019-11-27 15:39] ServiceTo commented on #173
@Quynh-Nguyen it's affecting too many projects to make that change on all of them unfortunately, I can do that for the one I'm working on at the moment.  What's the timeline on a release, do we need to do anything to suggest or vote for a new release?

[2019-11-27 15:42] Quynh-Nguyen commented on #173
@taylorotwell @driesvints
Can you please consider about release a patch version for this critical bug?

[2019-11-28 09:51] driesvints commented on #173
Released v1.6.3 with the fix.

[2019-11-28 09:51] #173 closed

[2019-11-28 10:44] kafein-ben opened #175 "Server configuration parsing error"
- Envoy Version: 1.6.3
- Laravel Version: 5.8.35
- PHP Version: 7.1
- Database Driver & Version: MariaDB 10.2.29

### Description:
Since version 1.6.3, servers configured with a port number will be parsed incorrectly, resulting in SSH connection errors.
For example, this configuration @servers(['myserver' => 'user@server -p 2222']) will result in a "ssh: Could not resolve hostname  'user@server -p

[2019-11-28 11:30] driesvints commented on #175
Just released v1.6.4 with a fix. Can you try that one?

[2019-11-28 11:50] kafein-ben commented on #175
It is working now with v1.6.4.
Thank you 👍 !

[2019-11-28 11:50] #175 closed

[2019-11-28 20:21] redalpha01 opened #176 "Allow for user input"
Let me start off with saying that I'm not sure whether this is a bug, a feature request or an error on my end BUT:

It would be nice that, when the server you are connected to prompts for input, it is shown on the CLI where the Envoy command is run so that the user can answer that prompt.

Context :
I am trying to deploy a project that is in a secure bitbucket repo with https://{username}@bitbucke

[2019-11-29 12:29] driesvints commented on #176
Yeah that could be useful. Feel free to pr something.

[2019-12-02 13:24] jstolp opened #177 "error when updating symfony/process 4.3.8 to 4.4.1"
- Envoy Version: v1.6.4
(symfony/process v4.4.1)
- Laravel Version: v.6.6.0
- PHP Version: 7.2.x
- Database Driver & Version:

### Description:

When reading a command line argument it throws this error.

In Process.php line 1648:

 Command line is missing a value for key "$KEY_NAME_HERE"

### Steps To Reproduce:

Seems to be the same issue as: https://github.com/laravel/valet/pull/843

If i downg

[2019-12-02 13:25] driesvints commented on #177
Can you post the full stacktrace?

[2019-12-02 13:56] jstolp commented on #177
So this is the full output from jenkins.
We use a BASH script to update. we pass those values from Envoy to the Bash script.
I've modified the output a bit to hide urls and such...

In this example i updated

[code]

[2019-12-02 14:15] jstolp commented on #177
in Envoy.blade.php we have this script:

We setup the variables for use:

[code]

Then in the deploy-code step in envoy we use those values:

[code]

[2019-12-03 09:16] jstolp commented on #177
@driesvints do you have enough info to conclude what's wrong?

[2019-12-04 17:44] peterpan666 opened #178 "Call to undefined method fromShellCommandline and Bad port for SSH connection"
- Envoy Version: 1.6.4
- PHP Version: 7.2

### Description:
Hi, I ran Envoy on CircleCI and got an error I don't have on v1.6.1 I think the bug arrived on 1.6.4. Here is the error I got

[code]

I fixed Envoy version to 1.6.3 and got another error

[code]

The SSH port is not 22 on this server.

Everything works fine on Envoy 1.6.1 though.

I use this image on CircleCI `circleci/php:7.2-node-brows

[2019-12-05 13:54] mcallan83 commented on #177
I am also experiencing this:

[code]

[2019-12-05 17:41] driesvints commented on #178
It seems this method was added only in Symfony 4.2 so I suspect you're running a lower version. Try upgrading symfony. In the meantime I'll whip up a PR to remove support for older versions.

[2019-12-05 17:48] fideloper commented on #177
This is related to this garbage:

![image](https://user-images.githubusercontent.com/467411/70259863-b6377180-1754-11ea-98a4-ae82069e08a2.png)

(from symfony docs: https://symfony.com/doc/4.4/components/process.html)

When using `Process:: fromShellCommandline($cmd)`, anything starting with `$` in your  `$cmd` is run through a find/replace:

![image](https://user-images.githubusercontent.com/46741

[2019-12-05 18:28] jstolp commented on #177
We are in for a treat.... We use Mac, Unix and windows... Pretty mixed. I'll see if I can find a nice solution for this tomorrow.

[2019-12-05 18:35] fideloper commented on #177
Haven’t tested, but this looks promising:
https://github.com/symfony/symfony/issues/34838#issuecomment-562249796

That being said, I’m unsure if that’s valid in Windows

On Thu, Dec 5, 2019 at 12:28 StolpSyS <notifications@github.com> wrote:

[2019-12-05 19:01] jstolp commented on #177
Thanks for the pointer, I'll try it out tomorrow!

[2019-12-05 20:40] driesvints commented on #177
This is technically a Symfony problem as pointed out by @fideloper but I'm gonna leave this open for a bit to see how this plays out. There's currently a discussion going on on the PR that introduced the change: https://github.com/symfony/symfony/pull/32126

[2019-12-05 20:41] driesvints commented on #178
We'll probably release Envoy 2.0 soon which will drop support for old versions. We're currently waiting a bit to see how https://github.com/symfony/symfony/pull/32126 plays out before doing the release. In the meantime please use v1.6.1 for now.

[2019-12-06 08:37] jstolp commented on #177
There might be a revert of this change :)
https://github.com/symfony/symfony/pull/34845

[2019-12-06 09:59] peterpan666 commented on #178
Does Envoy use my local symfony components? Or global?

[2019-12-06 11:00] driesvints commented on #178
@peterpan666 depends if you've installed it locally or globally

[2019-12-06 13:11] peterpan666 commented on #178
It's installed globally, I thought Envoy does not work locally. Envoy is the only package I install globally on the CircleCI image, but I don't know if other packages are shipped with a basic CircleCI image though.

[2019-12-06 13:24] driesvints commented on #178
I use Envoy locally a lot myself

[2020-01-02 14:25] driesvints commented on #178
@peterpan666 can you confirm this was fixed if you update tot he latest 4.x version of symfony/process?

[2020-01-02 14:26] driesvints commented on #177
@jstolp can you confirm this was fixed if you update tot he latest 4.x version of symfony/process?

[2020-01-02 15:09] jstolp commented on #177
@driesvints I can confirm this is fixed, with the v4.4.2 version of _symfony/process_
Thanks for your help! And happy coding in 2020!

[2020-01-02 15:09] #177 closed

[2020-01-06 12:44] peterpan666 commented on #178
Hi Dries,

I can't test right now 😕

I'll just fix the version of Envoy until 2.0 is released, I've got many projects to maintain and it's the better solution I've got right now.

Thanks for your help!

[2020-01-06 12:44] #178 closed

[2020-01-09 17:36] techiigg opened #181 "Support @slack and @discord in tasks"
- Envoy Version: 1.6.4
- Laravel Version: ^6.2
- PHP Version: 7.2.24

### Description:
The "finished!" message is sent through to slack. It also works without the message component e.g "<User> ran a task".

However using `@slack` inside the task (with or without message) results in this
[code]

This works though.

[code]

Is there any way to stop envoy from parsing the rest of the task block as sh

[2020-01-10 15:25] driesvints commented on #181
Hey there. It turns out I was mistaken when sent in https://github.com/laravel/docs/pull/5568. The slack directive is only available for the `finished` directive.

Reason for this is because the slack directives don't start with an open and closing php tag (which is needed within a task block). The `finished` directive opens with a php tag but expects all directives within it to not have an open a

[2020-01-10 15:25] driesvints commented on #166
FYI: see some follow up here: https://github.com/laravel/envoy/issues/181

[2020-01-17 19:00] itguy614 commented on #177
I believe this is still a problem.  I have tried various combinations of envoy 1.6.1 - 1.6.4 and symfony/process 4.3 - 5.0.

[2020-02-25 05:28] paullaffitte opened #184 "Cannot use envoy without Laravel"
- Envoy Version: 1.6.5
- Laravel Version: 5.8
- PHP Version: 7.2
- Database Driver & Version: None

### Description:
When installed globally like said in the docs, envoy fail to run. Actually I need to install it as a dev dependency of my Laravel project to make it work. This is annoying because I don't want to install my project dependencies on my CI pipeline (using gitlab), because it then takes

[2020-02-25 08:02] driesvints commented on #184
I'm currently using Envoy as a global just fine. Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel

[2020-02-25 08:02] #184 closed

[2020-03-03 22:17] hnnweb opened #186 "Bug in 2.0.0"
- Envoy Version: 2.0.0
- Laravel Version:6.13.1
- PHP Version: 7.4.3
- Database Driver & Version: MariaDB 10

### Description:
Envoy seems to run on every server even if i specify a specific task.

### Steps To Reproduce:
`Envoy.blade.php`
[code]

### Expected Output

[code]

### Actual Output

[code]

It should only run on one server according to story arguments...

[2020-03-03 22:26] hnnweb commented on #186
Works perfectly fine in 1.6.5

[2020-03-03 22:31] driesvints commented on #186
I've just release v2.0.1 which fixes this. This was a deliberate change in behavior but we now realize that it was an unwanted one. Thanks for reporting.

[2020-03-03 22:31] #186 closed

[2020-03-03 22:32] driesvints commented on #128
We've reverted this as this started to break people's apps. We won't be reconsidering this sorry.

https://github.com/laravel/envoy/issues/186

[2020-04-08 20:38] AdrienPoupa opened #188 "@slack is broken since v2"
- Envoy Version: 2.0.1
- Laravel Version: 7.5.2

### Description:

@slack in @finished is broken since I updated to v2:

[code]

My Envoy relevant section:

[code]

The same code worked fine for v1

[2020-04-08 20:52] AdrienPoupa commented on #188
Nevermind, turns out Guzzle 6.5.0 was installed and I needed 6.5.2.

Maybe the composer.lock should be updated to require Guzzle 6.5 and above?

[2020-04-08 20:52] #188 closed

[2020-04-13 04:38] paullaffitte commented on #184
Ok I finally find a solution to my problem and it wasn't related to envoy in any way.

Now I have a question because I read in the upgrade guide to 2.x that it will only support Laravel since version 6.0. What does it means? If Envoy can run in standalone why Laravel 6.0 would be a minimum requirement?

[2020-04-13 08:33] driesvints commented on #184
@paullaffitte People also use envoy as a dependency of their Laravel apps.

[2020-04-20 17:15] indosean opened #189 ""confirm" directory doesn't work with @include('vendor/autoload.php')"
- Envoy Version: 2.0.1
- Laravel Version: 5.6.31
- PHP Version: 7.2.28
- Database Driver & Version:

### Description:
When I use the `@include('vendor/autoload.php')` include at the top of my Envoy file the `confirm` directive gives an error.

[code]
This could be because Envoy was installed globally like the docs said - `composer global require laravel/envoy`

### Steps To Reproduce:
When I remov

[2020-04-21 12:38] driesvints commented on #189
Heya, I just tested this and all works as expected:

[code]

[2020-04-21 12:38] #189 closed

[2020-04-21 14:20] indosean commented on #189
Hi @driesvints

I'm pretty sure it is because Envoy was installed globally like the docs said - `composer global require laravel/envoy`

[2020-04-21 14:22] driesvints commented on #189
I tried with both global and local envoy.

[2020-04-21 14:43] indosean commented on #189
ok fair enough - it's strange. Thanks

[2020-05-15 06:45] vladan-me opened #190 "ssh: Could not resolve hostname bash -se: nodename nor servname provided, or not known"
- Envoy Version: 2.0.0
- Laravel Version: 7.11.0
- PHP Version: 7.3.13
- Database Driver & Version: MySQL 5.7
- symfony/process v5.0.8

### Description:
Envoy crashes after running any command. I did an upgrade to Laravel 7 and installed Envoy v2 for this purpose but it started not to work.

### Steps To Reproduce:
`envoy run stg`

[code]
I figured that the first line `Pseudo-terminal will not be

[2020-05-15 07:02] vladan-me commented on #190
Forget about it, I just realized what's the issue. The problem was that I didn't pass server name correctly, i.e. I was loading server name from .env file and forgot that they actually do not exist in this .env file.

[2020-05-15 07:02] #190 closed

[2020-05-15 08:10] snake03 opened #191 "Add Telegram notifications"
It would be nice to add Telegram notifications, in addition to Slack and Discord.
Since Laravel Forge got Telegram notifications support, it would be great to have in Envoy too.

If you think it can be interesting I can work on a PR in the next days.

[2020-05-17 11:54] driesvints commented on #191
Sure thing. Feel free to send in a PR if you want.

[2020-05-18 15:47] #191 closed

[2020-05-20 19:51] mazedlx opened #193 "@story is not respecting the current directory"
- Envoy Version: 2.0.1
- Laravel Version: 7.11.0
- PHP Version: 7.4.5
- Database Driver & Version: MySQL 8.0.18

### Description:

I have an Envoy.blade.php file that makes use of `@story` and `@task` to split different deployment tasks into smaller, reusable tasks.

[code]

### Steps To Reproduce:

When I run `enovy run deploy` the deployment fails with ```Could not open input file: artisan
[✗] T

[2020-05-21 12:06] driesvints commented on #193
Hey @mazedlx this is correct. Consider tasks the same as envoyer deploy steps where you also need to navigate to the correct directory for each step.

[2020-05-21 12:06] #193 closed

[2020-05-29 22:24] erashdan commented on #181
+1

[2020-05-30 08:30] vortechron opened #194 "cannot parse config file on windows 10"
in SSHConfigFile line 52

this works
[code]

instead of
[code]

config file were created using vim copy and paste an example.

[2020-05-30 08:37] vortechron commented on #194
for some reason, create config file using Right Click > New > File will fix this issue,

lesson, never create config file using vim for envoy

[2020-05-30 08:37] #194 closed

[2020-06-02 23:37] connecteev commented on #173
I am still seeing this with laravel/envoy version 2.1

[2020-06-27 14:14] FrontEndCoffee opened #195 "Downloadable .phar"
Currently, a user must install Envoy globally in the container or machine that it is used on.

I think it would be very useful to have a .phar available. This would simplify a lot CD containers out there.

Any thoughts?

[2020-06-27 14:17] FrontEndCoffee commented on #195
Of course I would be willing to send in a PR

[2020-06-27 17:10] driesvints commented on #195
Sorry, but we have no plans for this. You can install envoyer by requiring it on a project basis.

[2020-06-27 17:10] #195 closed

[2020-07-13 14:48] kjbrum opened #197 "Call to undefined method Symfony\Component\Process\Process::fromShellCommandline()"
- Envoy Version: 2.1.0
- Laravel Version: n/a
- PHP Version: 7.4.6
- Database Driver & Version: MySQL 5.7

### Description:

Getting the following error when trying to run Envoy command to pull remote database.
[code]

### Steps To Reproduce:

Running command: `envoy run db:pull --production`

[2020-07-13 15:48] driesvints commented on #197
Update all of your dependencies (also symfony ones)

[2020-07-13 15:48] #197 closed

[2020-07-13 15:57] kjbrum commented on #197
I'm using Envoy globally so how would I go about updating the dependencies?

[2020-07-13 15:58] driesvints commented on #197
`composer global update`

[2020-07-13 16:01] kjbrum commented on #197
I've ran that and just get the following output:
[code]

[2020-07-13 16:04] driesvints commented on #197
Your global installation is probably conflicting with other libraries. Please try a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=

[2020-07-16 16:05] christian-manrique opened #198 "envoy deploys: Problems running envoy run deploy command"
- Envoy Version: 2.2.0
- Laravel Version: 6.18.3
- PHP Version: 7.4.8
- Database Driver & Version: mysql 15.1 Distrib 10.3.23-MariaDB

### Description:
HI There, i need some help please. i have deployed the envoy package successfully at my vagrant homestead laravel box and works like a charm, i implemented the Envoy.blade.php with all task and instructions to make deployments and works pretty well

[2020-07-16 16:54] driesvints commented on #198
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-07-16 16:54] #198 closed

[2020-07-20 17:21] vuong-bse opened #199 "How to run ssh on Envoy"
- Envoy Version: 2.0
- Laravel Version: 5.8
- PHP Version: 7.3
- Database Driver & Version:

### Description:
Sorry, I have a problem using "ssh" in an Envoy Task. I tried searching for some solutions to the problem but it didn't work.
I using Amazon EC2.
So, I have code
[code]
I can login via terminal like this:
[code]
=> Go to virtual-host001, I setup on ~/.ssh/config

But, When I run envoy: **e

[2020-07-21 10:28] driesvints commented on #199
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-07-21 10:28] #199 closed

[2020-07-27 10:32] driesvints commented on #176
Since this isn't something that we'd work on ourselves anytime soon I'm closing this. But we're still open to PRs.

[2020-07-27 10:32] #176 closed

[2020-07-27 10:33] driesvints commented on #181
I'm gonna close this as this is something we won't be working on ourselves anytime soon. But we're still open to prs for this.

[2020-07-27 10:33] #181 closed

[2020-08-10 17:23] connecteev commented on #176
I too, would love to see this feature in envoy

[2020-10-27 17:26] barrasme opened #203 "Sending a @finished notification via Telegram doesn't work"
# Versions
- Envoy Version: v2.3.1
- Laravel Version: 8.0 (Now)
- PHP Version: 7.3.1
- Database Driver & Version: Mysql 5.7.24

### Description:
I'm trying to send a notification to my customer via Telegram.
I added the @finished to the bottom of my `Envoy.blade.php` file as below (details changed)

`@finished
    @telegram("MyBot","1234567890")
@endfinished
`

### Steps To Reproduce:
When running

[2020-10-27 18:06] driesvints commented on #203
Tried `php artisan view:clear`?

[2020-10-27 18:06] driesvints commented on #203
Or removing that php file from above?

[2020-10-27 18:14] barrasme commented on #203
@driesvints Thanks for the response.

I have now tried view:clear which hasn't helped.

![CleanShot 2020-10-27 at 18 12 54](https://user-images.githubusercontent.com/2089165/97343988-13ae4280-1880-11eb-81e2-d5dab026124f.png)

Sorry, I'm not sure which file?

[2020-10-27 18:21] driesvints commented on #203
The generated Envoy file: Envoy7b733335d6e41d155f181fe7fbef07d2

[2020-10-28 10:03] barrasme commented on #203
Hi,
I've removed all the generated EnvoyXXXX files and sadly I still have the same issue.

So I tried a couple of tests, I replaced the @telegram with @discord, I didn't bother with a URL.
When I ran this it came up with the expected issue of an invalid URL but it is finding the method.

` Unable to connect to "discord-webhook-url": 6 Could not resolve host: discord-webhook-url`

I've no idea why

[2020-10-31 09:50] driesvints commented on #203
Just FYI: I've been head over heals in upgrading our libraries for PHP 8 but definitely plan to pick this up eventually.

[2020-11-01 16:52] barrasme commented on #203
Thanks. Much appreciated

[2020-11-05 16:09] driesvints commented on #203
I tried this out and can't reproduce it. The Telegram bot successfully received the message:

<img width="713" alt="Screenshot 2020-11-05 at 17 08 39" src="https://user-images.githubusercontent.com/594614/98265640-9ecabf00-1f89-11eb-9b84-7401c708c229.png">

My script:

[code]

Think it's best that you try a support channel for this one.

[2020-11-05 16:09] #203 closed

[2020-11-18 18:36] LocalHeroPro opened #205 "Declared variables in @setup override passed variables from commandline"
- Envoy Version: 2.4.0
- Laravel Version: 8.15.0
- PHP Version: 7.4.12
- Database Driver & Version:

### Description:
Variables passed by command line aren't considered when the same name is used in @setup

### Steps To Reproduce:
[code]

[code]
Ideal scenario is that we can override that values.
In right now, we have to pass multiple checking values in if statement ;/

[2020-11-18 18:46] LocalHeroPro opened #206 "Blade commentout syntax aren't allowed in @setup"
- Envoy Version: 2.4.0
- Laravel Version: 8.15.0
- PHP Version: 7.4.12
- Database Driver & Version:

### Description:

### Steps To Reproduce:
[code]
then
[code]

Because of that, from rendered file:
[code]

[2020-11-18 19:01] LocalHeroPro opened #207 "When run command all task command are executed locally - when waiting for password"
- Envoy Version: 2.4.0
- Laravel Version: 8.15.0
- PHP Version: 7.4.12
- Database Driver & Version:

### Description:

### Steps To Reproduce:
[code]
then
[code]
So all commands are executed locally and after that Envoyer ask for password?

[2020-11-19 09:42] driesvints commented on #206
This isn't supported.

[2020-11-19 09:42] #206 closed

[2020-11-19 09:44] driesvints commented on #205
You solve this by declaring it with the input from the CLI in the `@setup` directive as documented here: https://laravel.com/docs/8.x/envoy#setup

[code]

[2020-11-19 09:44] #205 closed

[2020-11-19 09:46] driesvints commented on #207
Hey @LocalHeroPro. You're posting quite a bit of issues which can easily be asked in a support channel. Please try to use a support channel first as this issue tracker is mainly for reporting bugs (see the issue templates when you open an issue).

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/question

[2020-11-19 09:46] #207 closed

[2020-11-19 10:03] LocalHeroPro commented on #206
All bugs aren't supported ;)

[2020-11-24 01:29] aguinaldotupy opened #208 "Run task only specific server"
- Envoy Version: 2.0.4
- Laravel Version: 7.28.4
- PHP Version: 7.4.12
- Database Driver & Version: MySQL 8.0.21

### Description:
Envoy seems to run on every server

### Steps To Reproduce:
[code]

[code]

The ideal scenario is that the task runs only on the specified server

[2020-11-24 08:17] driesvints commented on #208
You have two tasks with the same name.

[2020-11-24 08:17] #208 closed

[2020-12-15 20:00] lesaff opened #209 "Envoy does not read @servers array when it's indented (pretty-printed)"
- Envoy Version: 2.4.0
- PHP Version: 7.4.13

### Description:
Envoy does not recognise `@servers([)` when it's indented/pretty-printed. It works fine when everything is on the same line.

### Steps To Reproduce:

#### This does not work
[code]

#### This works
[code]

[2020-12-15 22:08] driesvints commented on #209
If you want to send in a pr to make that work that would be great 👍

[2020-12-15 22:08] #209 closed

[2020-12-23 12:39] simonhamp opened #210 "Hyphenated parameters don't translate to usable variables"
Imagine the following command:

[code]

In the Envoy script, I then want to be able to do this:

[code]

But it doesn't work, because `$no_npm` never evaluates to `true`. So my guess is this is the wrong variable name. However, I can't find any instructions in the docs that help with this situation.

What should the signature of variable be in the Envoy blade to use the value of the `--no-npm` fla

[2020-12-28 16:36] driesvints commented on #210
Please resubmit this with a filled out issue template.

[2020-12-28 16:36] #210 closed

[2020-12-28 23:38] simonhamp commented on #210
I chose 'Feature Request' as i didn't see this a bug or other kind of issue. GitHub didn't present me with a template when i selected that 🤷‍♂️

[2020-12-28 23:48] simonhamp opened #211 "Hyphenated parameters don't translate to usable variables"
- Envoy Version: 2.4.0
- Laravel Version: 8.5.6
- PHP Version: 7.4.12
- Database Driver & Version: n/a

### Description:

Hyphenated parameters don't translate to usable variables

### Steps To Reproduce:

Imagine the following Envoy command:

[code]

In the Envoy script, I then want to be able to do this:

[code]

But it doesn't work, because `$no_npm` never evaluates to `true`. So my guess is th

[2020-12-29 09:16] driesvints commented on #210
Ah, because you said:

Which led me to believe you meant this as a bug report.

[2020-12-29 09:51] simonhamp commented on #210
I'll choose my words more carefully next time 😉

[2020-12-29 13:36] driesvints commented on #211
You were right. This is more of a feature request because this is indeed not available at the time. I've taken a look at what it would take to implement this and it seems we can do this pretty simply with just this change: https://github.com/laravel/envoy/pull/212

This will convert the options to camelCased which seems more applicable considering PSR coding standards.

[2020-12-29 15:08] #211 closed

[2020-12-29 18:19] simonhamp commented on #211
Thanks for the rapid turnaround @driesvints 🙏🏼

[2021-01-21 10:40] hsmfawaz opened #213 "vendor/bin/envoy run as text not a php file"
- Envoy Version: 2.5.0
- Laravel Version: 8.23.1
- PHP Version: 7.4.13
- Database Driver & Version:
- OS : Windows 10 Pro Build:19042.746
### Description:
simple after installing the package via
`composer require laravel/envoy --dev`
i tried to run the following command
`php vendor/bin/envoy`
and i got the following response

[code]

### Steps To Reproduce:

[2021-01-21 10:47] driesvints commented on #213
Please see the intro note about Windows support here:

<img width="730" alt="Screenshot 2021-01-21 at 11 47 30" src="https://user-images.githubusercontent.com/594614/105340664-79d80680-5bde-11eb-86d2-8c051aaa5533.png">

[2021-01-21 10:47] #213 closed

[2021-01-21 10:55] hsmfawaz commented on #213
Oh sorry didn't notice that because i always run it under linux
thanks for your time

[2021-01-24 19:56] arsamme opened #214 "SSL Failure when trying to use Telegram"
- Envoy Version: 2.5.0
- Laravel Version: 8.18.1
- PHP Version: 8.0.0

### Description:
cURL error 60: SSL certificate problem: self signed certificate in certificate chain (see https://curl.haxx.se/libcurl/c/libcurl-errors.html) for https://api.telegram.org/bot1248907810:AAFVU6ubAVjn5GfCdtc3uIwf8s8WGHPKSL4/sendMessage

### Steps To Reproduce:
Use @telegram in @finished directive.

[2021-01-25 12:33] driesvints commented on #214
This doesn't seems to be an Envoy issue but rather an SSL issue at Telegram or something else.

[2021-01-25 12:33] #214 closed

[2021-01-28 19:04] sublime392 opened #215 "Can series have parallel option like tasks do?"
I have a deployment story, and I want it to run sequentially, one server at a time. However, it will actually perform one task for every server before moving on to the next task. i.e. for
[code]

will run one>touch1, two>touch1, one>touch2, two>touch2,
 but what I need it to do is one>touch1, one>touch2, two>touch1, two>touch2

[2021-01-29 06:59] arsamme commented on #214
@driesvints This occurs for discord and slack too. Envoy should have an option for configuring ssl or something.

[2021-01-29 09:43] driesvints commented on #214
@arsamme this is the first report we've ever had about this. I doubt this is a widespread issue.

[2021-01-29 10:23] driesvints commented on #215
That's unfortunately not possible in Envoy atm. Servers are assigned to their respective tasks and those tasks are executed in order based on a story.

Does https://laravel.com/docs/8.x/envoy#parallel-execution work in this case for you?

[code]

[2021-01-29 14:07] sublime392 commented on #215
@driesvints the `@story` doesn't currently have the parallel option. That is the enhancement I am looking for - I want to be able to have the `@story` run with `parallel=false` because its current operation is effectively `parallel=true`. I need it to complete the entire set of tasks for the first server before moving on to the next server.

Reason why this behavior would be a useful feature:
An u

[2021-01-29 14:28] driesvints commented on #215
Right. At the moment stories indeed don't support this sorry. You can however attempt a PR if you would like to see this added. Thanks.

[2021-01-29 14:28] #215 closed

[2021-01-29 14:40] sublime392 commented on #215
*one wonders if this was left open as an enhancement request instead of being closed, might not some other helpful soul take it on?

[2021-01-29 14:48] driesvints commented on #215
We only keep enhancement issues open if we plan on working on those ourselves. Otherwise we appreciate PRs.

[2021-02-11 16:58] guratr opened #216 "Access server host inside a task"
The documentation suggests using something like this for parallel execution
[code]

If all of your sites live on different servers, you always can create "site" symlink on server to your site path.
But when you have multiple sites on the same server, for example
[code]
there is no way to specify where to "cd" for each site in the task.

It would be great if we had access to some variable "$current

[2021-02-11 17:06] driesvints commented on #216
If you want to propose something feel free to send in a PR 👍

[2021-02-11 17:06] #216 closed

[2021-02-17 14:07] toxpenguin opened #218 "@servers to docker container"
hello, I just wondering if possible to declare `@servers` to run / aliases `docker exec -i $container_name sh -c "$command"`
e.g:

[code]

[2021-02-18 09:40] driesvints commented on #218
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-02-18 09:40] #218 closed

[2021-03-05 03:48] Oxicode commented on #216
I like your idea @guratr
Please create PR 🙏

[2021-03-05 20:28] guratr commented on #216
I created PR, but unfortunately it was rejected 😭.
If you need this functionality, you can use my my version [here](https://github.com/guratr/envoy).
You can check out [pull request](https://github.com/laravel/envoy/pull/217) to see how it works.

[2021-03-06 21:30] Oxicode commented on #216
OK, i go to your repo.

[2021-03-23 00:32] MIsmail80 opened #222 "Support Microsoft Teams notifications"
I can work on this feature and send PR.

[2021-03-23 16:09] taylorotwell commented on #222
Sure - feel free to send a PR.

[2021-03-23 16:09] #222 closed

[2021-03-28 18:35] ultrono opened #226 "Accessing the server array when using multiple servers"
I have a simple Envoy file as below (all working and displaying the correct output for each server):

[code]

Is it possible to get the current server within a task i.e. if the script is currently deploying on the ".se" server I could access the ".se" or "ee-se"?

Thanks

[2021-03-29 08:12] driesvints commented on #226
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-03-29 08:12] #226 closed

[2021-04-01 04:35] immortalsantee commented on #176
Is this feature available now?

[2021-04-10 19:16] ErikDohmen commented on #215
@sublime392 would this be an option for you?

`
@story('deploy-all')
   deploy-on-one
   deploy-on-two
@endstory

@story('deploy-on-one',['on' => 'one'])
   deploy
@endstory

@story('deploy-on-two',['on' => 'two'])
   deploy
@endstory

@story('deploy')
    touch1
    touch2
@endstory
`

Then you would be able to call the deploy-all to do a full deployment or have the option to do a single deployme

[2021-04-10 19:18] ErikDohmen commented on #215
@sublime392 would this be an option for you?

[code]

Then you would be able to call the deploy-all to do a full deployment or have the option to do a single deployment on one of the servers.

Just a thought

[2021-04-12 12:30] sublime392 commented on #215
@ErikDohmen thanks for taking a look, but it seems that stories can't nest. When I try to call a story from a story, it results in a task not found error.

[2021-09-27 18:42] rluetke commented on #226
I found out, that I can use `$__container->getServer($name)`  to access a server in the TaskContainer https://github.com/laravel/envoy/blob/2.x/src/TaskContainer.php

[2021-09-27 18:44] rluetke commented on #216
I found out, that I can use $__container->getServer($name) to access a server in the TaskContainer https://github.com/laravel/envoy/blob/2.x/src/TaskContainer.php.
Hope this helps!

[2021-09-27 19:07] rluetke opened #228 "delete cached Envoy.blade files"
Envoy is great, but the Envoy.blade.php at the application root dir is compiled and cached in the application root dir. So this dir fills up with cached Envoy.blade.php files, like Envoyb27d5ced916539d636e8a68a50fa86fd.php.

Any idea to clear these cached files automatically or place them elsewhere?

Regards, Ralf

[2021-09-28 06:48] driesvints commented on #228
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-09-28 06:48] #228 closed

[2021-09-29 15:25] rluetke commented on #228
I found out, that the cached Envoy.blade.php files only remain there in case of an PHP error in the blade file.
So they can be deleted manually and won't be left over in case of correct execution.

Thanks, regards, Ralf

[2021-10-14 19:47] aleksandrpnshkn opened #230 "Multiple host patterns"
- Envoy Version: 2.7.0
- Laravel Version: 8.64.0
- PHP Version: 8.0.11

### Description:
I have multiple projects on a server. It is convenient to me to use multipattern feature in ssh config like:
[code]
From the [ssh_config(5) man page](https://www.freebsd.org/cgi/man.cgi?ssh_config(5)):
[code]
But envoy fails with this config:
[code]

### Steps To Reproduce:

Configure .ssh/config
[code]
Create

[2021-10-21 07:29] ybert opened #231 "Can't get value of snake case variables"
- Envoy Version: 2.7.0
- Laravel Version: 8.61.0
- PHP Version: 7.3

### Description:
It seems that it is not possible to set snake case variables for envoy run deploy

### Steps To Reproduce:
Envoy.blade.php :
[code]

When I run ```vendor/bin/envoy run deploy --user=www --host=staging.company.com --app_dir=/home/www/public```
I get ```ERROR: $app_dir var empty or not defined```

So it seems that

[2021-10-21 07:31] driesvints commented on #231
This is indeed not supported.

[2021-10-21 07:31] #231 closed, assigned to nobody

[2021-10-21 07:35] ybert commented on #231
@driesvints It was supported in previous version of Envoy (1.*)
It seems Hyphen case is not supported. So we have to call our variables like --appdir or --releasepath
Its not very readable.

[2021-10-21 07:37] driesvints commented on #231
If you can come up with a PR that implements this in a clean way we may consider it.

[2022-01-03 15:28] zarulizham opened #237 "Deprecated: file_exists()"
- Envoy Version: 2.7.2
- Laravel Version: 8.77.1
- PHP Version: 8.1.1
- Database Driver & Version: MySQL 8

### Description:

I got this warning message when executing `envoy run deploy`

`Deprecated: file_exists(): Passing null to parameter #1 ($filename) of type string is deprecated in /builds/xxxxxx/yyyy/vendor/laravel/envoy/src/Console/RunCommand.php on line 222`

<img width="699" alt="image"

[2022-01-03 15:32] driesvints commented on #237
This is a deprecation error and not a real issue. We'll update this call over time to make use of something else. For now, please remove deprecation warnings from your PHP runtime.

[2022-01-03 15:32] #237 closed

[2022-01-29 09:37] Tofandel opened #240 "Completion hooks as commands on remote server"
Right now there is no way to cleanup after a failed task, because the @error hook only executes php locally

It would be nice to be able to run a script on the remote server when the build fails, so that we can cleanup the files that we created

[2022-01-29 19:45] driesvints commented on #240
We don't have plans for this ourselves atm but we're open to PR's if you want to try one 👍

[2022-01-29 19:45] #240 closed, assigned to nobody

[2022-01-29 20:02] Tofandel commented on #240
Should I open a PR on 2.x or master for that?

[2022-02-21 15:59] victorelec14 opened #244 "Pass bash variables/arrays to php (and vice versa)"
Hi,

Is there any chance to save bash values in PHP Setup variables? or to be able to execute php code remotely?

For example I am trying to list all the directories on the server so I can run "composer install" on each of those folders.

You could do it by passing the variable by command:

but the problem is that I am going to use it in CI and I cannot get the directories of the server to be able

[2022-02-22 10:17] driesvints commented on #244
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-02-22 10:17] #244 closed, assigned to nobody

[2022-03-24 02:32] Tofandel opened #245 "Localhost shell"
- Envoy Version: 2.8.2
- PHP Version: 8.0.17

### Description:
The localhost run doesn't use the same shell as the one it's executed on

Consider the following `Envoy.blade.php`
[code]

The script will work fine on `root@example.com` because the shell is `bash` (assuming that's the configured shell of the root user)
But it will not work on the local env because it's executed with `sh` even though

[2022-03-28 08:53] driesvints commented on #245
This just seems to work for me

<img width="533" alt="Screenshot 2022-03-28 at 10 52 33" src="https://user-images.githubusercontent.com/594614/160362286-09e8ddd1-86db-40c5-bad7-85bd9ea03d0f.png">

[2022-03-28 08:53] #245 closed, assigned to nobody

[2022-03-28 09:01] Tofandel commented on #245
Then you probably have a symlink from /bin/sh to some other shell from your OS but that's really platform specific, definitely not the case on Ubuntu (it's dash on ubuntu) and not the point of this issue at all

You could use this which will give you your current shell and the one running in envoy
[code]

[2022-03-28 09:28] Tofandel commented on #245
I managed to get it working like this

[code]

So implementing shell choice and fixing this bug should be easy enough

[2022-03-28 11:11] Tofandel commented on #245
WIP fork https://github.com/laravel/envoy/compare/2.x...Tofandel:2.x

I'll send a PR soon

I noticed there was an `as` option that's been there since the very begining but never got implemented so I'm also adding that

It obviously requires sudo to be installed though and it's not ported to windows yet

I'm planning to work on the test suite as well which is currently not very furnished

[2022-04-27 07:26] Tofandel commented on #128
Well actually there could have been a way to fix the issue without reverting the change, the problem seems to be that the task has a default 'on' when not specified which targets all server, and so the story 'on' gets overridden even though there is no 'on', this could have been caught with some unit test, the default 'on' should only be applied after merge

But ideally we could just look for an o

[2022-08-04 14:09] agus24 opened #252 "upload file access"
Hi. is it possible to upload file using envoy?

for example:
i need to update all .env file to all of my servers (load balancer), if i want to go through all of it i need to ssh to each server then update `.env`. but if i use envoy i could just set .env locally then upload it to my server collection

[2022-08-04 14:13] driesvints commented on #252
Bit out of scope for this project, sorry.

[2022-08-04 14:13] #252 closed, assigned to nobody

[2022-08-15 10:27] arwinvdv opened #253 "Access task/story name in @setup"
When in the @setup directive it would be nice to access the taskname or story name that is running.
So you not have to specify extra variables when creating multiple stories.
When running `envoy run deploy`, that you can get `deploy`. And when you run `envoy run deploy_backend` you can get `deploy_backend`

Example for usage:

[code]

[2022-08-16 15:00] driesvints commented on #253
Heya. Feel free to attempt a PR if you want.

[2022-08-16 15:00] #253 closed, assigned to nobody

[2022-08-30 09:38] arwinvdv commented on #166
`$__task` now available see https://github.com/laravel/envoy/releases/tag/v2.8.4